p {
  color: rgba(10, 1, 1, 0.788);
  width: 500px;
  border: 0px solid black;
}

html {
  background-color: #E8F9D6;
  font-size: 10px;
  /* px 表示“像素（pixel）”: 基础字号为 10 像素 */
  font-family: "Open Sans", sans-serif;
  /* 这应该是你从 Google Fonts 得到的其余输出。 */
}

body {
  width: 700px;
  margin: 0 auto;
  background-color: #ff9500;
  padding: 0 20px 20px 20px;
  border: 5px solid black;
}


h1 {

  font-size: 60px;
  text-align: center;
}
img {
  display: block;
  margin: 0 auto;
  
}

p,
li {
  font-size: 16px;
  line-height: 2;
  letter-spacing: 1px;
}

p,
li,
h1 {
  color: rgba(20, 19, 19, 0.836);
}
h1 {
  margin: 0;
  padding: 20px 0;
  color: #00539f;
  text-shadow: 3px 3px 3px black;
}
#pic {
  width: 500px;
  height: 300px;
}